[user]
	name = Nikita
	email = nikita@shelimov.me
	signingkey = F7C242833556056B
[core]
	editor = vim
    pager = "diff-so-fancy | less --tabs=4 -RFX"
	excludesfile = /Users/shelimov/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[commit]
	gpgsign = true
[merge]
    conflictstyle = diff3
[status]
    showUntrackedFiles = all
[gpg]
	program = /usr/bin/gpg
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
