[user]
	name = Nikita
	email = nikita@shelimov.me
	signingkey = F7C242833556056B
[core]
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[commit]
	gpgsign = true
