.config/fish/fishd.shelimov
.vim/bundle/YouCompleteMe/
.vim/bundle/ack.vim/
.vim/bundle/clever-f.vim/
.vim/bundle/ctrlp.vim/
.vim/bundle/delimitmate/
.vim/bundle/html5.vim/
.vim/bundle/indentLine/
.vim/bundle/nerdtree-git-plugin/
.vim/bundle/nerdtree/
.vim/bundle/oceanic-next/
.vim/bundle/vim-airline/
.vim/bundle/vim-bufkill/
.vim/bundle/vim-bufmru/
.vim/bundle/vim-commentary/
.vim/bundle/vim-devicons/
.vim/bundle/vim-fugitive/
.vim/bundle/vim-gitgutter/
.vim/bundle/vim-jsx/
.vim/bundle/vim-misc/
.vim/bundle/vim-nerdtree-syntax-highlight/
.vim/bundle/vim-session/
.vim/bundle/vim-surround/
.vim/bundle/vim-trailing-whitespace/
.vim/bundle/yajs.vim/
.vim/backups/*
